
<body style="background-color:#FFF;">
<div style="padding:35px 15px 30px 15px; background-color:#F2F2F2; margin:20px 40px 20px 40px;">
<h2 style="text-align:center;">Witaj,</h2>

    <div style="font-size:16px">
<p style="line-height:150%;">
Dziękujemy za skorzystanie z <span style="color:#F4511E;">Alle</span>Watcher.pl. <br />
Aby potwierdzić Twoją obserwację aukcji zawierających frazę <span style="color:#F4511E;">{{ phrase }}</span>
kliknij poniższy link w ciągu 48 godzin. Od tego czasu przez najbliższych siedem dni o 9.00 będziesz otrzymywać
raport z naszych obserwacji.
</p>
<p style="text-align:center;">
    <a style="color:#F4511E; text-decoration: none;" href ="http://127.0.0.1:8000/search/confirmed/{{ activation_key }}" >Aktywuj konto</a>
</p>
<p style="font-size:12; padding-top:30px;">
Jeśli nie wiesz dlaczego ta wiadomość do Ciebie trafiła skasuj ją.


</p>
Pozdrawiamy, <br />
Zespół <span style="color:#F4511E;">Alle</span>Watcher
    </div>
<p style="font-size:10px; padding-top:20px;">
    Wiadomość wygenerowana automatycznie, nie odpowiadaj na nią.
</p>
</div>
</div>
</body>